

/* Hero section */
.hero {
  text-align: center;
}

.heroText {
  font-family: 'Courgette', cursive;
  font-size: 3.5rem;
  color: #001318;
  margin: 3rem;
  animation: fadeIn 2s ease-in-out;
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: rgba(1, 24, 43, 0.5);
  padding: 3rem;
  max-width: 500px;
  margin: 1rem auto;
}

.icon__link {
  transition: transform 0.3s ease;
  padding: 10px;
}

.icon__link:hover {
  transform: scale(1.2);
}

/* Keyframes for animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Popular Products section */
.popularProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}

.productCards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.productCard {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0;
  background-color: white;
  padding: 20px;
  max-width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.productCard h3 {
  font-size: 24px;
  font-weight: bold;
  color: #011828;
  text-decoration: none;
}

.productCard p {
  font-size: 18px;
  font-weight: bold;
  color: #0a222f;
  text-decoration: none;
}

/* About section */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  color: var(--text-color);  background-color: var(--main-bg-color);
}

.aboutText {
  margin-bottom: 2rem;
}

.aboutText h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.aboutText p {
  font-size: 1rem;
  line-height: 1.5;
}

/* Video section */
.video {
  position: relative;
  width: 100%;
  max-width: 1260px;
}

.video iframe {
  width: 100%;
  height: 300px;
  display: block;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .heroText {
    font-size: 2.5rem;
  }

  .socialIcons {
    flex-direction: column;
  }

  .productCards {
    flex-direction: column;
  }

  .productCard {
    max-width: 100%;
  }

  .video iframe {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .heroText {
    font-size: 2rem;
  }

  .video iframe {
    height: 150px;
  }
}
